<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <title>Detalhes do Professor</title>
</head>
<body>
    <h1>Detalhes do Professor</h1>
    <p><strong>Nome:</strong> <!-- Aqui insira o nome do professor dinamicamente --></p>
    <p><strong>Email:</strong> <!-- Email do professor --></p>
    <p><strong>Telefone:</strong> <!-- Telefone do professor --></p>

    <a href="editar.html?id=<!--id-->" >Editar</a> |
    <a href="remover.html?id=<!--id-->" >Remover</a> |
    <a href="index.html">Voltar</a>
</body>
</html>
