{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Heroic Features - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'tempOTHERS/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-lg-5">
                <a class="navbar-brand" href="#!"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/livros/livros/">Livros</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/materias/">Materias</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="py-5">
            <div class="container px-lg-5">
                <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index aulas</title>
</head>
<body>
    <h1>Lista de aulas</h1>
    <a href="/aulas/adicionar" class="btn btn-success mb-3"> Adicionar aula</a>

    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead class="table-dark">
          <tr>
            <th>Conteúdo</th>
            <th>Carga horária</th>
            <th colspan="3" class="text-center">Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for aula in aulas %}
          <tr>
            <td>{{ aula.conteudo }}</td>
            <td>{{ aula.duracao }} Horas</td>
            <td><a href="/aulas/{{ aula.id }}/" class="btn btn-info btn-sm">Detalhe</a></td>
            <td><a href="/aulas/editar/{{ aula.id }}/" class="btn btn-warning btn-sm">Editar</a></td>
            <td><a href="/aulas/remover/{{ aula.id }}/" class="btn btn-danger btn-sm">Excluir</a></td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="4" class="text-center">Nenhuma aula cadastrada.</td>
          </tr>
          {% endfor %}
</body>
</html>
            </div>
        </header>
        <!-- Page Content-->
        <!-- Footer-->
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{ % static 'tempOTHERS/js/scripts.js'%}"></script>
    </body>
</html>